# This file must be in /etc
# this is the default for ldap (see man saslauthd)

# this is for fastbind
# all your account o alias could do smtpauth
#ldap_servers:           ldap://ldap.example.tld/
#ldap_auth_method:       fastbind
#ldap_filter:            mail=%u,vd=%d,o=hosting,dc=example,dc=tld
#ldap_base:              o=hosting,dc=example,dc=tld
#ldap_version:           3

# this is for simple bind
# only smthAuth=TRUE could do relay
ldap_servers:           ldap://{{ POSTFIX_LDAP_HOST }}
ldap_auth_method:       bind
ldap_bind_dn:           {{ POSTFIX_LDAP_BIND_DN }}
ldap_bind_pw:           {{ POSTFIX_LDAP_BIND_PW }}
ldap_filter:            (&(mail=%U@%d)(smtpAuth=TRUE))
ldap_base:              {{ POSTFIX_LDAP_SEARCH_BASE }}
ldap_version:           {{ POSTFIX_LDAP_VERSION }}