#  Copyright (c) 2005 Alessandro De Zorzi, Mirko Grava
#  				<phamm@rhx.it> http://phamm.rhx.it/
#
#  Permission is granted to copy, distribute and/or modify this document
#  under the terms of the GNU Free Documentation License, Version 1.2
#  or any later version published by the Free Software Foundation;
#  A copy of the license in DOCS.LICENSE file.

#LDAP_SERVER		{{ POSTFIX_LDAP_HOST }}
# for new version of courier delete above
# and remove comment on the next line
LDAP_URI		ldap://{{ POSTFIX_LDAP_HOST }}
LDAP_PORT		{{ POSTFIX_LDAP_PORT }}
LDAP_PROTOCOL_VERSION	{{ POSTFIX_LDAP_VERSION }}
LDAP_BASEDN             {{ POSTFIX_LDAP_SEARCH_BASE }}
LDAP_BINDDN		{{ POSTFIX_LDAP_BIND_DN }}
LDAP_BINDPW		{{ POSTFIX_LDAP_BIND_PW }}
LDAP_TIMEOUT		5
LDAP_AUTHBIND		1
LDAP_MAIL		mail
LDAP_FILTER		(accountActive=TRUE)
LDAP_GLOB_UID		vmail
LDAP_GLOB_GID		vmail
LDAP_HOMEDIR		vdHome
LDAP_MAILDIR		mailbox
LDAP_MAILDIRQUOTA	quota
LDAP_FULLNAME		cn
LDAP_CRYPTPW		{{ POSTFIX_LDAP_CRYPTPW }}
LDAP_DEREF		never
LDAP_TLS		0