server_host = {{ POSTFIX_LDAP_HOST }}
search_base = {{ POSTFIX_LDAP_SEARCH_BASE }}
query_filter = (&(&(objectClass=VirtualMailAlias)(mail=%s))(accountActive=TRUE))
result_attribute = maildrop
bind = yes
cache = no
bind_dn = {{ POSTFIX_LDAP_BIND_DN }}
bind_pw = {{ POSTFIX_LDAP_BIND_PW }}
version = {{ POSTFIX_LDAP_VERSION }}

